.cheers-img{
    left: 20%;
    position: relative;
}

.cheers-block {
    position: absolute;
    font-family: 'Niramit', sans-serif;
    bottom: 35%;
    left: 25%;
    background-color: rgba(236, 205, 205, 0.95);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 500px;
}

h4{
    padding: 15px;
    font-family: 'Niramit', sans-serif;
}