<div class="footer">
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">test@test.com</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">000 000 000 000</a>
    </li>
    </ul>
    <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="#"><img src="/assets/git.png"  class="icons"/></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><img src="/assets/li.png"  class="icons"/></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><img src="/assets/fb.png"  class="icons"/></a>
        </li>
  </ul>
</div>