.footer{
    margin: 50px 0 50px 0;
    border-top: dashed black;
    border-width: thin;
    display: flex;
    justify-content: space-between;
    font-family: 'Niramit', sans-serif;
}

.nav-item{
    padding-top: 40px;
}

.icons{
    width: 30px;

}