<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="contain">
<div class="menu-main">
    <div class="menu-img">
        <img src="/assets/choco.jpg"  style="margin-top: 70px; height:100vh"/>
    </div>
    <div class="menu-list">
<ul>
        <app-white [@slideWhite]="whiteState"></app-white> 
        <li (click)="toggleMenu()"> 

        <a routerLink="/about" >Menu Item</a>

        </li>

  <li class="tes">Menu Item</li>
  <li>Menu Item</li>
  <li>Menu Item</li>
  <li>Menu Item</li>
  <li>Menu Item</li>
</ul>
</div>
</div>
<div class="overlay">
        <div class="text">Hello World</div>
      </div>

</div> -->


