<div class="title-two" [@showAboutText]="stateText">
    <div class="block">   Lorem ipsum dolor sit amet, </div>
    <div class="block">  consectetur adipiscing elit, </div>
    <div class="block">   sed do eiusmod tempor incididunt </div>
    <div class="block">  ut labore et dolore magna aliqua. </div>
    <div class="block">  Ut enim ad minim veniam, quis nostrud </div>
    <div class="block"> exercitation ullamco laboris nisi ut aliquip </div>
    <div class="block">fugiat nulla pariatur. qui officia </div>
    <div class="block"> deserunt mollit anim id est laborum.</div>
</div>