.title-two{
    margin: 300px 150px 150px 150px;
    font-family: 'Niramit', sans-serif;
    color: black;
    font-size: 40px;
    font-weight:bold;
    letter-spacing: 0.1ch;
    text-align: center;
}