
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="back" [ngStyle]="{'background-image': 'url(' + photo + ')',  'background-size': 'cover'}">
  <div class="parent">
    <!-- <div class="fixed-top pos-f-t">
        <nav class="navbar navbar-light bg-white">
            <button (click)="toggleMenu()" class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleWhite()" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
    </div> -->

<!-- 
        <app-white [@slideWhite]="whiteState"></app-white> 
    <app-menu [@slideInOut]="menuState" ></app-menu> -->
	

<header class="zoom">
  <img src="assets/qwer.jpg" alt="zoom me" style="width: 100%; height: auto;">
 
  </header>

  <div id="intro" class="overimg" >Hi! <br>My name is Julia<br> I'm a Front-end Developer<br> Welcome to my app!
  </div>
  <div class="mouse_scroll">

      <div class="mouse">
        <div class="wheel"></div>
      </div>
      <div>
        <span class="m_scroll_arrows unu"></span>
        <span class="m_scroll_arrows doi"></span>
        <span class="m_scroll_arrows trei"></span>
      </div>
  </div>
        <img src="assets/coffee.png" id="intro" class="over-img" [@scrollAnimation]="state">
 


</div>
</div>
  <main role="main">
    <div class="content">
      <app-about></app-about>
<!--   
      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
      <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>	
        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
       -->
    </div>
    
  </main>
