<div class="works">

    <img src="assets/cone.jpg" class="img-cone"/>

<div class="works-main" [@showWorksText]="stateWorksText">

    <div class="block">    Here's</div>
        <div class="block">   some</div>
            <div class="block">    recent</div>
                <div class="block">     work.</div>
                <div class="block"><img id="arrow" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png"></div>
</div>
</div>
<app-w-one></app-w-one>