.title-two{
    margin: 40px 150px 150px 150px;
    font-family: 'Niramit', sans-serif;
    color: black;
    font-size: 25px;
    font-weight:400;
    letter-spacing: 0.1ch;
    line-height: 200%;
    text-align: left;
}
.mainn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.empty{
    width: 100%;
}